# dependencies
/node_modules

# testing
/coverage

# production
/build
/dist
/XADMaster-build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*

# generated source map with local paths
public/BasiliskII.wasm.map
public/SheepShaver.wasm.map
public/minivmac-*.wasm.map

# generated disk image chunks and manifest
src/Data/*.dsk.json
public/Disk

# generated CD-ROM catalog
src/Data/CD-ROMs.json
public/Covers

# Cloudflare Worker wrangler CLI state
.wrangler

# We only commit the compressed version, but having the uncompressed version
# around is useful for local development.
Images/Saved HD.dsk
