*.dsk filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text

# Ignore Emscripten-generated JavaScript files
src/emulator/worker/emscripten/*.js linguist-generated
*.zip !text !filter !merge !diff
*.dsk !text !filter !merge !diff
