[submodule "macemu"]
	path = macemu
	url = https://github.com/mihaip/macemu
	branch = infinite-mac-kanjitalk755
[submodule "XADMaster"]
	path = XADMaster
	url = https://github.com/mihaip/XADMaster
[submodule "UniversalDetector"]
	path = UniversalDetector
	url = https://github.com/MacPaw/universal-detector
[submodule "minivmac"]
	path = minivmac
	url = https://github.com/mihaip/minivmac
[submodule "dingusppc"]
	path = dingusppc
	url = https://github.com/mihaip/dingusppc
[submodule "previous"]
	path = previous
	url = https://github.com/mihaip/previous
[submodule "pearpc"]
	path = pearpc
	url = https://github.com/mihaip/pearpc
[submodule "snow"]
	path = snow
	url = https://github.com/mihaip/snow.git
