.Embed-HTML-Row {
    display: flex;
}

.Embed-HTML {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    font-family: monospace;
    max-width: 490px;
    padding: 6px;
}

.Embed-Copy-Button {
    min-width: 100px;
}
