.Footer {
    font-family: Geneva, Helvetica, sans-serif;
    font-size: 9px;
    color: #fff;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: #282c3422;
    padding: 10px;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
}

.Footer span {
    display: inline-block;
    height: 9px;
    color: transparent;
    cursor: pointer;
    background-size: cover;
    image-rendering: pixelated;
}

.Footer span:not(:first-child) {
    margin-left: 12px;
}

.Footer .Footer-Logo {
    background-image: url("@/Images/Footer-Logo.png");
    width: 79px;
}

.Footer .Footer-About {
    background-image: url("@/Images/Footer-About.png");
    width: 36px;
}

.Footer .Footer-Fullscreen {
    background-image: url("@/Images/Footer-Fullscreen.png");
    width: 68px;
}

.Footer .Footer-Donate {
    background-image: url("@/Images/Footer-Donate.png");
    width: 44px;
}

.fullscreen .Footer {
    display: none;
}
