.Mac {
    user-select: none;
    -webkit-user-select: none;
}

/* `@media (display-mode: fullscreen)` does not appear to work in iOS Safari,
we need to use a manual class name. */
body.fullscreen {
    background: black;
}

body.embed {
    background: black;
    overflow: hidden;
}

.Mac-Loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.Mac-Loading-Non-Modal {
    height: auto;
    left: 50%;
    width: auto;
    transform: translate(-50%, 0);
    top: auto;
    bottom: calc(var(--screen-underscan) + 10px);
    background: #282c3422;
    padding: 10px;
    border-radius: 10px;
}

.Mac-Loading-Non-Modal a {
    color: inherit;
}

.Mac-Loading-OneLine {
    white-space: nowrap;
    display: block;
}

.Mac-Loading-Dismiss {
    margin-right: 8px;
}

.Mac-Loading-Fraction {
    opacity: 0.5;
    padding-left: 0.5em;
}

.Mac-Screen {
    /* The emulator draws the cursor */
    cursor: none;
    /* Avoid blurriness on retina screens */
    image-rendering: pixelated;
    /* Disable double-tap to zoom, we want double-clicking in the Mac to
    take precedence. */
    touch-action: none;
}

.Mac-Screen.Mac-Screen-Smooth-Scaling {
    image-rendering: auto;
}

.Mac-Overlay {
    position: absolute;
    top: var(--screen-underscan);
    left: var(--screen-underscan);
    bottom: var(--screen-underscan);
    right: var(--screen-underscan);
    pointer-events: none;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Mac-Overlay:before {
    font-size: 48px;
    font-weight: bold;
    display: block;
}

.Mac-Overlay:after {
    font-size: 16px;
    display: block;
}

.Mac-Drag-Overlay:before {
    content: "Copy to Mac";
}

.Mac-Drag-Overlay:after {
    content: "Disk images will be mounted";
}

.Mac-Drag-Overlay.Mac-Drag-Overlay-Downloads:after {
    content: "Disk images will be mounted, files will be placed in the “Downloads” folder in “The Outside World”.";
    max-width: 480px;
    text-align: center;
}
