.BevelButton {
    border-image-slice: 3 fill;
    border-image-width: 3px;
    border-width: 3px;
    image-rendering: pixelated;
    padding: 1px 4px;
    font-size: 12px;
    color: #000;
    user-select: none;
    white-space: nowrap;
    text-align: left;
}

.BevelButton-Centered {
    text-align: center;
}

.BevelButton:active {
    color: #fff;
}

.BevelButton:focus {
    outline: none;
}

.BevelButton-Platinum {
    border-image-source: url("@/Images/PlatinumBevelButton.png");
    line-height: 13px;
}

.BevelButton-Platinum:active,
.BevelButton-Platinum.BevelButton-Selected {
    border-image-source: url("@/Images/PlatinumBevelButton-Active.png");
}
