.Button {
    border-image-slice: 4 fill;
    border-image-width: 4px;
    border-width: 4px;
    image-rendering: pixelated;
    background: transparent;
    padding: 1px 8px;
    font-size: 13px;
    color: #000;
    font-weight: bold;
    user-select: none;
    white-space: nowrap;
}

.Button:active {
    color: #fff;
}

.Button:focus {
    outline: none;
}

.Button:focus-visible {
    outline: 2px solid #000000;
    outline-offset: -1px;
    border-radius: 2px;
}

.Button:disabled {
    opacity: 0.5;
}

.Button.Button-Classic {
    border-image-source: url(../Images/ClassicButton.png);
    line-height: 13px;
}

.Button.Button-Classic:active {
    border-image-source: url(../Images/ClassicButton-Active.png);
}

.Button.Button-Platinum {
    border-image-source: url(../Images/PlatinumButton.png);
    line-height: 13px;
}

.Button.Button-Platinum:active {
    border-image-source: url(../Images/PlatinumButton-Active.png);
}

.Button.Button-Platinum:focus-visible {
    outline-color: #6666c5;
}

.Button.Button-Aqua {
    border-image-source: url(../Images/AquaButton.png);
    border-image-slice: 15 20 fill;
    border-image-width: 15px 20px;
    border-width: 6px 12px 9px;
    image-rendering: pixelated;
    padding: 1px 8px;
    font-size: 13px;
    line-height: 15px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

.Button.Button-Aqua:active {
    border-image-source: url(../Images/AquaButton-Active.png);
    color: #000;
}

.Button.Button-Aqua:focus-visible {
    outline-color: #8bb4e9cc;
    outline-offset: -3px;
    border-radius: 3px;
}

.Button.Button-NeXT {
    border-image-source: url(../Images/NeXTButton.png);
}

.Button.Button-NeXT:active {
    color: #000;
    border-image-source: url(../Images/NeXTButton-Active.png);
}
