.Checkbox {
    padding: 0;
    width: 14px;
    height: 12px;
    vertical-align: middle;
    appearance: none;
    background-color: transparent;
    position: relative;
    margin: 0 2px 3px 0;
}

.Checkbox::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 14px;
    height: 12px;
    background-size: 14px 12px;
    background-repeat: no-repeat;
    background-position: center;
    image-rendering: pixelated;
}

.Checkbox:disabled {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
}

.Checkbox-Classic::before {
    background-image: url("@/Images/ClassicCheckbox.png");
}

.Checkbox-Classic:active::before {
    background-image: url("@/Images/ClassicCheckbox-Active.png");
}

.Checkbox-Classic:checked::before {
    background-image: url("@/Images/ClassicCheckbox-Checked.png");
}

.Checkbox-Classic:checked:active::before {
    background-image: url("@/Images/ClassicCheckbox-CheckedActive.png");
}

.Checkbox-Platinum::before {
    background-image: url("@/Images/PlatinumCheckbox.png");
}

.Checkbox-Platinum:active::before {
    background-image: url("@/Images/PlatinumCheckbox-Active.png");
}

.Checkbox-Platinum:checked::before {
    background-image: url("@/Images/PlatinumCheckbox-Checked.png");
}

.Checkbox-Platinum:checked:active::before {
    background-image: url("@/Images/PlatinumCheckbox-CheckedActive.png");
}

.Checkbox-Aqua {
    width: 18px;
    height: 18px;
}

.Checkbox-Aqua::before {
    background-image: url("@/Images/AquaCheckbox.png");
    width: 18px;
    height: 18px;
    background-size: 18px 18px;
}

.Checkbox-Aqua:active::before {
    background-image: url("@/Images/AquaCheckbox-Active.png");
}

.Checkbox-Aqua:checked::before {
    background-image: url("@/Images/AquaCheckbox-Checked.png");
}

.Checkbox-Aqua:checked:active::before {
    background-image: url("@/Images/AquaCheckbox-CheckedActive.png");
}

.Checkbox-NeXT {
    width: 15px;
    height: 15px;
}

.Checkbox-NeXT::before {
    width: 15px;
    height: 15px;
    background-size: 15px 15px;
    background-image: url("@/Images/NeXTCheckbox.png");
}

.Checkbox-NeXT:active::before {
    background-image: url("@/Images/NeXTCheckbox-Active.png");
}

.Checkbox-NeXT:checked::before {
    background-image: url("@/Images/NeXTCheckbox-Checked.png");
}

.Checkbox-NeXT:checked:active::before {
    background-image: url("@/Images/NeXTCheckbox-CheckedActive.png");
}
