.Dialog-Backdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    /* Simulate a 2x2 black and white checkerboard */
    background-position: 0px 0px, 1px 1px;
    background-size: 2px 2px;
    background-image: linear-gradient(
            45deg,
            #000 25%,
            transparent 25%,
            transparent 75%,
            #000 75%,
            #000 100%
        ),
        linear-gradient(
            45deg,
            #000 25%,
            transparent 25%,
            transparent 75%,
            #000 75%,
            #000 100%
        );
}

.Dialog {
    font-size: 14px;
    padding: 18px;
    border-image-slice: 5 fill;
    border-image-width: 5px;
    border-width: 5px;
    image-rendering: pixelated;
    max-width: 600px;
    min-width: 320px;
    z-index: 3;
}

.Dialog.Dialog-Classic {
    border-image-source: url(../Images/System7DialogFrame.png);
}

.Dialog.Dialog-Platinum {
    border-image-source: url(../Images/PlatinumDialogFrame.png);
}

.Dialog h1 {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 8px 0;
}

.Dialog h2 {
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 4px 0;
}

.Dialog-Description {
    font-size: 12px;
    color: #666;
    margin: 2px 0 0 22px;
}

.Dialog label {
    display: block;
    margin: 0 0 8px 0;
}

.Dialog footer {
    margin: 8px 0 0 0;
    display: flex;
    justify-content: flex-end;
}

.Dialog footer {
    gap: 8px;
}

.Dialog a,
.Dialog .link {
    cursor: pointer;
    text-decoration: underline;
    color: #00c;
}

.Dialog-Normal-Button {
    font-weight: normal;
}
