.Dialog-Backdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    /* Simulate a 2x2 black and white checkerboard */
    background-position:
        0px 0px,
        1px 1px;
    background-size: 2px 2px;
    background-image:
        linear-gradient(
            45deg,
            #000 25%,
            transparent 25%,
            transparent 75%,
            #000 75%,
            #000 100%
        ),
        linear-gradient(
            45deg,
            #000 25%,
            transparent 25%,
            transparent 75%,
            #000 75%,
            #000 100%
        );
}

.Dialog {
    font-size: 14px;
    padding: 18px;
    border-image-slice: 5 fill;
    border-image-width: 5px;
    border-width: 5px;
    image-rendering: pixelated;
    max-width: 600px;
    min-width: 320px;
}

.Dialog-Backdrop .Dialog {
    z-index: 3;
}

.Dialog.Dialog-Classic {
    border-image-source: url("@/Images/ClassicDialogFrame.png");
}

.Dialog.Dialog-Classic.Dialog-System7 {
    border-image-source: url("@/Images/System7DialogFrame.png");
}

.Dialog.Dialog-Platinum {
    border-image-source: url("@/Images/PlatinumDialogFrame.png");
}

.Dialog.Dialog-Aqua {
    border-image-source: url("@/Images/AquaDialogFrame.png");
    border-image-slice: 21 30 29 28 fill;
    border-image-width: 21px 30px 29px 28px;
    border-image-repeat: repeat;
    padding: 24px 32px 32px;
}

.Dialog-Backdrop-Aqua {
    background: rgba(0, 0, 0, 0.25);
}

.Dialog.Dialog-NeXT {
    border-image-source: url("@/Images/NeXTDialogFrame.png");
}

.Dialog-Content {
    max-height: calc(90vh - 30px * 2); /* Footer and header */
    overflow: auto;
}

.Dialog h1 {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 8px 0;
}

.Dialog h2 {
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 4px 0;
}

.Dialog h2 + h3 {
    margin-top: 8px;
}

.Dialog h3 {
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 4px 0;
}

.Dialog h3 + p {
    margin-top: 6px;
}

.Dialog-Description {
    font-size: 12px;
    color: #666;
    margin: 2px 0 0 22px;
}

.Dialog.Dialog-NeXT .Dialog-Description {
    color: #444;
}

.Dialog label {
    display: block;
    margin: 0 0 8px 0;
}

.Dialog footer {
    margin: 8px 0 0 0;
    display: flex;
    justify-content: flex-end;
}

.Dialog footer {
    gap: 8px;
}

.Dialog a,
.Dialog .link {
    cursor: pointer;
    text-decoration: underline;
    color: #00c;
}

.Dialog-Normal-Button {
    font-weight: normal;
}
