.App {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    min-height: 100%;
    min-width: 100%;
    width: auto;
}
