@font-face {
    font-family: "Apple Garamond";
    src: url(./Fonts/AppleGaramond.woff2);
    font-display: swap;
}

.Browser {
    --browser-padding: 40px;
    --browser-logo-scale: 1;
    padding: var(--browser-padding);
}

@media (max-width: 400px) {
    .Browser {
        --browser-padding: 10px;
        --browser-logo-scale: 0.67;
    }
}

.Browser header {
    max-width: 100vw;
    background-color: #fff;
    margin: calc(var(--browser-padding) * -1);
    margin-bottom: 0;
    padding: var(--browser-padding);
}

.Browser .Logo {
    background-image: url(./Images/Header.png);
    background-size: cover;
    image-rendering: pixelated;
    width: calc(325px * var(--browser-logo-scale));
    height: calc(170px * var(--browser-logo-scale));
    margin: 0 auto;
}

.Browser .Description {
    margin: 0 calc(var(--browser-padding) * -1);
    padding: calc(var(--browser-padding) / 2) var(--browser-padding);
    background: #d9e5fe;
    max-width: 100vw;
    box-sizing: border-box;
}

.Browser .Description span {
    text-decoration: underline;
    cursor: pointer;
}

.Browser .Logo h1 {
    display: none;
}

.Browser .Year {
    margin: 2em 0 3em 0;
}

.Browser .Year h2 {
    color: #fff;
    z-index: 1;
    position: relative;
}

.Browser .Year .Disks {
    display: flex;
    flex-wrap: wrap;
}

.Disk {
    margin: 20px;
}

@media (max-width: 400px) {
    .Disk {
        margin: 10px;
    }
}

.DiskContents {
    background: #fff;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Helvetica, Arial, sans-serif;
}

.DiskContents.DiskContents-Placeholder {
    opacity: 0.5;
}

.DiskContents h3 {
    font-family: "Apple Garamond";
    font-weight: normal;
    font-size: 28px;
    margin: 0 0 8px 0;
}

.DiskContents h3 .Subtitle {
    color: #999;
}

.DiskContents h3 .ReleaseDate {
    color: #999;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
}

.DiskContents .Row {
    margin-bottom: 1em;
}

@media (max-width: 400px) {
    .DiskContents .Row {
        margin-bottom: 0.5em;
    }
}

.DiskContents .Row.Unstable-Warning {
    color: #f88;
}

.DiskContents .Row.DiskDescription {
    flex-grow: 1;
    overflow: auto;
}

.DiskContents .Row.Buttons {
    text-align: right;
}

.DiskContents .Row:last-child {
    margin-bottom: 0;
}

.DiskContents .Row .Button {
    margin: 0 4px;
}

.Disk .CustomizeButton {
    font-weight: normal;
}

@media (hover: hover) {
    .Disk .CustomizeButton {
        visibility: hidden;
    }

    .Disk:hover .CustomizeButton {
        visibility: visible;
    }
}

.Notable-Toggle-Container {
    position: sticky;
    top: 0;
    z-index: 2;
}

.Notable-Toggle {
    font-family: "Helvetica", "Arial", sans-serif;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 13px;
    background: #282c3499;
    padding: 10px;
    border-radius: 10px;
}

.Notable-Toggle-Label,
.Notable-Toggle .count {
    color: #ccc;
}

.Notable-Toggle-Button {
    margin-left: 0.5em;
    appearance: none;
    border: 0;
    padding: 0;
    background: transparent;
    color: #fff;
    cursor: pointer;
}

.Notable-Toggle-Button .name-container {
    display: inline-flex;
    flex-direction: column;
    text-align: right;
}

/* Allow the name to be bold when selected without offseting the rest of the
content by leaving enough room for the bold version at all times. */
.Notable-Toggle-Button .name-sizer {
    font-weight: bold;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    user-select: none;
    pointer-events: none;
}

.Notable-Toggle-Button.selected {
    cursor: default;
}

.Notable-Toggle-Button.selected .name {
    font-weight: bold;
    text-shadow: 0 0 1px #fff;
}
