.Custom-Dialog-Row {
    margin-bottom: 16px !important;
}

.Custom-Dialog-Row .Button {
    height: 20px;
    font-weight: normal;
    font-size: 12px;
    padding-top: 0;
    padding-bottom: 0;
    box-sizing: border-box;
}

.Custom-Dialog-Row label {
    display: inline;
}

.Custom-Dialog-Row.Custom-Dialog-InputCompensate {
    margin-top: -5px;
}

.Custom-Dialog-Row.Custom-Dialog-InputCompensate .Custom-Dialog-Description {
    margin-top: -3px;
}

.Custom-Dialog-Row label.disabled {
    color: #999;
    pointer-events: none;
}

.Custom-Dialog-Row label:last-of-type {
    margin-bottom: 4px;
}

.Custom-Dialog-Label {
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-right: 4px;
}

.Custom-Dialog-Description {
    margin-left: 104px;
}

.Custom-Dialog-Description a {
    color: inherit;
}

.Custom-Dialog-Repeated {
    display: flex !important;
    align-items: center;
    margin-bottom: 8px;
}

.Custom-Dialog-Repeated input {
    height: 22px;
    box-sizing: border-box;
}

.Custom-Dialog-Repeated .Button.AddRemove {
    margin-left: 4px;
    width: 20px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Custom-Dialog-Repeated-Disk {
    width: 256px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.Custom-Dialog-CDROMs {
    width: 20px;
    margin-left: 4px;
}

.Custom-Dialog-ScreenSize {
    display: inline-flex;
    gap: 4px;
}

.Custom-Dialog-ScreenSize input[type="number"] {
    width: 32px;
    height: 10px;
    font-size: 12px;
}
