.Custom-Dialog-Row {
    margin-bottom: 16px !important;
}

.Custom-Dialog-Row .Button {
    height: 20px;
    font-weight: normal;
    font-size: 12px;
    padding-top: 0;
    padding-bottom: 0;
    box-sizing: border-box;
}

.Custom-Dialog-Row label {
    display: inline;
}

.Custom-Dialog-Row label.disabled {
    color: #999;
    pointer-events: none;
}

.Custom-Dialog-Row label:last-of-type {
    margin-bottom: 4px;
}

.Custom-Dialog-Label {
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-right: 4px;
}

.Custom-Dialog-Description {
    margin-left: 104px;
}

.Custom-Dialog-Description a {
    color: inherit;
}

.Custom-Dialog-Repeated {
    display: flex !important;
    align-items: center;
}

.Custom-Dialog-Repeated input {
    height: 22px;
    box-sizing: border-box;
}

.Custom-Dialog-Repeated .Button {
    margin-left: 4px;
    width: 20px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Custom-Dialog-CDROMs {
    width: 20px;
    margin-left: 4px;
}
