.Mac {
    --screen-bezel-color: hsl(39deg 36% 80%);
    --screen-bezel-color-dark1: hsl(39deg 36% 75%);
    --screen-bezel-color-dark2: hsl(39deg 36% 70%);
    --screen-bezel-color-light1: hsl(39deg 36% 85%);
    --screen-bezel-color-light2: hsl(39deg 36% 90%);
    --screen-bezel-size: 60px;
    --screen-outer-chamfer-size: 4px;
    --screen-inner-chamfer-size: 8px;
    --screen-corner-radius: 8px;
    --screen-underscan: 20px;
    --screen-apple-logo-display: block;
    --screen-apple-logo-bottom: -16px;
    --screen-led-display: block;
    --screen-led-bottom: -40px;

    border: solid var(--screen-bezel-size) var(--screen-bezel-color);
    position: relative;
    background: black;
    user-select: none;

    margin: calc(var(--screen-underscan) * -1);
}

@media (max-width: 1024px) {
    .Mac {
        --screen-bezel-size: 40px;
        --screen-outer-chamfer-size: 2px;
        --screen-inner-chamfer-size: 4px;
        --screen-underscan: 10px;
        --screen-apple-logo-bottom: -5px;
        --screen-led-bottom: -28px;
    }
}

@media (max-width: 880px) {
    .Mac {
        --screen-bezel-size: 10px;
        --screen-outer-chamfer-size: 1px;
        --screen-inner-chamfer-size: 1px;
        --screen-corner-radius: 4px;
        --screen-underscan: 1px;
        --screen-apple-logo-display: none;
        --screen-led-display: none;
    }
}

/* Scale up to take up the whole screen. On retina screens we can also use a
1.5 factor and still keep things pixel-perfect. */
@media (min-width: 1460px) and (max-width: 1939px) and (min-height: 1000px) and (-webkit-device-pixel-ratio: 2) {
    .Mac {
        transform: scale(1.5);
    }
}

@media (min-width: 1940px) and (min-height: 1300px) {
    .Mac {
        transform: scale(2);
    }
}

/* `@media (display-mode: fullscreen)` does not appear to work in iOS Safari,
we need to use a manual class name. */
body.fullscreen {
    background: black;
}

body.fullscreen .Mac {
    --screen-bezel-size: 0;
    --screen-outer-chamfer-size: 0;
    --screen-inner-chamfer-size: 0;
    --screen-underscan: 0;
    --screen-apple-logo-display: none;
    --screen-led-display: none;
}

.Mac::before {
    content: "";
    position: absolute;
    top: calc(
        (var(--screen-bezel-size) + var(--screen-outer-chamfer-size)) * -1
    );
    left: calc(
        (var(--screen-bezel-size) + var(--screen-outer-chamfer-size)) * -1
    );
    right: calc(
        (var(--screen-bezel-size) + var(--screen-outer-chamfer-size)) * -1
    );
    bottom: calc(
        (var(--screen-bezel-size) + var(--screen-outer-chamfer-size)) * -1
    );
    border: solid var(--screen-outer-chamfer-size);
    border-color: var(--screen-bezel-color-light2)
        var(--screen-bezel-color-dark2) var(--screen-bezel-color-dark1)
        var(--screen-bezel-color-light1);
    border-radius: var(--screen-corner-radius);
    pointer-events: none;
}

.Mac::after {
    content: "";
    position: absolute;
    top: calc(var(--screen-inner-chamfer-size) * -1);
    left: calc(var(--screen-inner-chamfer-size) * -1);
    right: calc(var(--screen-inner-chamfer-size) * -1);
    bottom: calc(var(--screen-inner-chamfer-size) * -1);
    border: solid var(--screen-inner-chamfer-size);
    border-color: var(--screen-bezel-color-dark2)
        var(--screen-bezel-color-light2) var(--screen-bezel-color-light1)
        var(--screen-bezel-color-dark1);
    border-radius: var(--screen-corner-radius);
    pointer-events: none;
}

.Mac-Apple-Logo {
    position: absolute;
    bottom: var(--screen-apple-logo-bottom);
    display: var(--screen-apple-logo-display);
    left: 0;
    color: transparent;
    font-size: 28px;
}

.Mac-Apple-Logo::before,
.Mac-Apple-Logo::after {
    content: "";
    background-clip: text;
    background-image: linear-gradient(
        to bottom,
        #70c25c 0%,
        #70c25c 34%,
        #ffc04a 34%,
        #ffc04a 45%,
        #fc903d 45%,
        #fc903d 55%,
        #e94752 55%,
        #e94752 65%,
        #a954a5 65%,
        #a954a5 75%,
        #00afe0 75%,
        #00afe0 100%
    );
}

.Mac-Apple-Logo::before {
    position: absolute;
    top: 0;
    left: 0;
    text-shadow: 0 0 rgba(0, 0, 0, 0.5);
}

.Mac-Apple-Logo::after {
    position: absolute;
    top: 0.5px;
    left: 0.5px;
}

.Mac-Led {
    pointer-events: none;
    position: absolute;
    display: var(--screen-led-display);
    bottom: var(--screen-led-bottom);
    right: 0;
    width: 28px;
    height: 8px;
    background: #00ff00;
}

.Mac-Led-Loading {
    animation: Mac-Led-Blink 0.1s infinite;
}

@keyframes Mac-Led-Blink {
    from {
        background: #00ff00;
    }
    to {
        background: #000000;
    }
}

.Mac-Loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.Mac-Loading-Fraction {
    opacity: 0.5;
    padding-left: 0.5em;
}

.Mac-Screen {
    position: relative;
    top: var(--screen-underscan);
    left: var(--screen-underscan);
    border: 0;
    background-color: black;
    /* The emulator draws the cursor */
    cursor: none;
    /* Avoid bluriness on retina screens */
    image-rendering: pixelated;
    /* Disable touble-tap to zoom, we want double-clicking in the Mac to
    take precedence. */
    touch-action: none;
}

.Mac-Overlay {
    position: absolute;
    top: var(--screen-underscan);
    left: var(--screen-underscan);
    bottom: var(--screen-underscan);
    right: var(--screen-underscan);
    pointer-events: none;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Mac-Overlay:before {
    font-size: 48px;
    font-weight: bold;
    display: block;
}

.Mac-Overlay:after {
    font-size: 16px;
    display: block;
}

.Mac-Drag-Overlay:before {
    content: "Copy to Mac";
}

.Mac-Drag-Overlay:after {
    content: "Files will be placed in the “Downloads” folder.";
}

.Mac-Uploading-Disk-Image-Overlay:after {
    content: "Uploading disk image…";
}

.Mac-Pending-Disk-Image {
    position: absolute;
    bottom: calc(var(--screen-underscan) + 8px);
    right: calc(var(--screen-underscan) + 8px);
    font-size: 16px;
    padding: 8px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.Mac-Pending-Disk-Image button {
    margin-left: 8px;
    background: #fff;
    border: solid 1px #000;
    color: #000;
    border-radius: 8px;
}
