.Mac {
    --screen-bezel-color: hsl(39deg 36% 80%);
    --screen-bezel-color-dark1: hsl(39deg 36% 75%);
    --screen-bezel-color-dark2: hsl(39deg 36% 70%);
    --screen-bezel-color-light1: hsl(39deg 36% 85%);
    --screen-bezel-color-light2: hsl(39deg 36% 90%);
    --screen-bezel-size: 60px;
    --screen-outer-chamfer-size: 4px;
    --screen-inner-chamfer-size: 8px;
    --screen-outer-corner-radius: 8px;
    --screen-inner-corner-radius: 8px;
    --screen-underscan: 20px;
    --screen-controls-display: flex;
    --screen-controls-bottom: -46px;
    --screen-led-display: block;
    --screen-led-bottom: -40px;
    --screen-ethernet-status-bottom: -46px;
    --screen-ethernet-status-display: block;

    border: solid var(--screen-bezel-size) var(--screen-bezel-color);
    position: relative;
    background: black;
    user-select: none;

    margin: calc(var(--screen-underscan) * -1);
}

.Mac-Medium-Bezel {
    --screen-bezel-size: 40px;
    --screen-outer-chamfer-size: 2px;
    --screen-inner-chamfer-size: 4px;
    --screen-underscan: 10px;
    --screen-controls-bottom: -34px;
    --screen-led-bottom: -28px;
    --screen-ethernet-status-bottom: -34px;
}

.Mac-Small-Bezel {
    --screen-bezel-size: 10px;
    --screen-outer-chamfer-size: 1px;
    --screen-inner-chamfer-size: 1px;
    --screen-outer-corner-radius: 4px;
    --screen-inner-corner-radius: 4px;
    --screen-underscan: 1px;
    --screen-controls-display: none;
    --screen-led-display: none;
    --screen-ethernet-status-display: none;
}

/* `@media (display-mode: fullscreen)` does not appear to work in iOS Safari,
we need to use a manual class name. */
body.fullscreen {
    background: black;
}

body.fullscreen .Mac {
    --screen-bezel-size: 0;
    --screen-outer-chamfer-size: 0;
    --screen-inner-chamfer-size: 0;
    --screen-underscan: 0;
    --screen-controls-display: none;
    --screen-led-display: none;
    --screen-ethernet-status-display: none;
}

.Mac::before {
    content: "";
    position: absolute;
    top: calc(
        (var(--screen-bezel-size) + var(--screen-outer-chamfer-size)) * -1
    );
    left: calc(
        (var(--screen-bezel-size) + var(--screen-outer-chamfer-size)) * -1
    );
    right: calc(
        (var(--screen-bezel-size) + var(--screen-outer-chamfer-size)) * -1
    );
    bottom: calc(
        (var(--screen-bezel-size) + var(--screen-outer-chamfer-size)) * -1
    );
    border: solid var(--screen-outer-chamfer-size);
    border-color: var(--screen-bezel-color-light2)
        var(--screen-bezel-color-dark2) var(--screen-bezel-color-dark1)
        var(--screen-bezel-color-light1);
    border-radius: var(--screen-outer-corner-radius);
    pointer-events: none;
}

.Mac::after {
    content: "";
    position: absolute;
    top: calc(var(--screen-inner-chamfer-size) * -1);
    left: calc(var(--screen-inner-chamfer-size) * -1);
    right: calc(var(--screen-inner-chamfer-size) * -1);
    bottom: calc(var(--screen-inner-chamfer-size) * -1);
    border: solid var(--screen-inner-chamfer-size);
    border-color: var(--screen-bezel-color-dark2)
        var(--screen-bezel-color-light2) var(--screen-bezel-color-light1)
        var(--screen-bezel-color-dark1);
    border-radius: var(--screen-inner-corner-radius);
    pointer-events: none;
}

.Mac-Controls-Container {
    position: absolute;
    bottom: var(--screen-controls-bottom);
    display: var(--screen-controls-display);
    left: 0;
    align-items: center;
}

.Mac-Controls-Container .Mac-Control {
    visibility: hidden;
    margin-left: 16px;
    cursor: pointer;
}

.Mac-Controls-Container:hover .Mac-Control {
    visibility: visible;
}

.Mac-Apple-Logo {
    position: relative;
    height: 30px;
    width: 18px;
}

.Mac-Apple-Logo svg {
    height: 100%;
    width: 100%;
    position: absolute;
}

.Mac-Apple-Logo .Foreground {
    filter: brightness(1.1);
}

.Mac-Apple-Logo .Background {
    top: -0.5px;
    left: -0.5px;
    filter: brightness(0.5);
}

.Mac-Led {
    pointer-events: none;
    position: absolute;
    display: var(--screen-led-display);
    bottom: var(--screen-led-bottom);
    right: 0;
    width: 28px;
    height: 8px;
    background: #00ff00;
}

.Mac-Led-Loading {
    animation: Mac-Led-Blink 0.1s infinite;
}

@keyframes Mac-Led-Blink {
    from {
        background: #00ff00;
    }
    to {
        background: #000000;
    }
}

.Mac-Loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.Mac-Loading-Fraction {
    opacity: 0.5;
    padding-left: 0.5em;
}

.Mac-Screen {
    position: relative;
    top: var(--screen-underscan);
    left: var(--screen-underscan);
    border: 0;
    background-color: black;
    /* The emulator draws the cursor */
    cursor: none;
    /* Avoid bluriness on retina screens */
    image-rendering: pixelated;
    /* Disable touble-tap to zoom, we want double-clicking in the Mac to
    take precedence. */
    touch-action: none;
}

.Mac-Overlay {
    position: absolute;
    top: var(--screen-underscan);
    left: var(--screen-underscan);
    bottom: var(--screen-underscan);
    right: var(--screen-underscan);
    pointer-events: none;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Mac-Overlay:before {
    font-size: 48px;
    font-weight: bold;
    display: block;
}

.Mac-Overlay:after {
    font-size: 16px;
    display: block;
}

.Mac-Drag-Overlay:before {
    content: "Copy to Mac";
}

.Mac-Drag-Overlay:after {
    content: "Files will be placed in the “Downloads” folder.";
}

.Mac-Pending-Disk-Image {
    position: absolute;
    bottom: calc(var(--screen-underscan) + 8px);
    right: calc(var(--screen-underscan) + 8px);
    font-size: 16px;
    padding: 8px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.Mac-Pending-Disk-Image button {
    margin-left: 8px;
    background: #fff;
    border: solid 1px #000;
    color: #000;
    border-radius: 8px;
}

.Mac-Ethernet-Status {
    position: absolute;
    bottom: var(--screen-ethernet-status-bottom);
    display: var(--screen-ethernet-status-display);
    right: 32px;
    font-family: Geneva, Helvetica, sans-serif;
    font-size: 14px;
    cursor: pointer;
}

.Mac-Screen-Bezel-Text {
    color: rgba(255, 255, 255, 0.5);
    position: relative;
}

.Mac-Screen-Bezel-Text::before,
.Mac-Screen-Bezel-Text::after {
    content: attr(data-text);
    position: absolute;
}

.Mac-Screen-Bezel-Text::before {
    top: -1px;
    left: -1px;
    color: rgba(0, 0, 0, 0.5);
}

.Mac-Screen-Bezel-Text::after {
    position: absolute;
    top: -0.5px;
    left: -0.5px;
    color: var(--screen-bezel-color);
}

.Mac-Ethernet-Status-Details {
    z-index: 1;
    position: absolute;
    bottom: 20px;
    right: 0;
    color: #000;
    font-size: 14px;
    white-space: nowrap;
    padding: 8px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.Mac-Ethernet-Status-Peers {
    margin-top: 8px;
}

.Mac-Ethernet-Status-Peers ul {
    margin: 0;
    padding-left: 16px;
}

.Mac-Settings {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    padding: 8px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.Mac-Settings h1 {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 8px 0;
}

.Mac-Settings input[type="checkbox"] {
    padding: 0;
    margin: 0 4px 2px 4px;
    width: 12px;
    vertical-align: middle;
}

.Mac-Settings-Description {
    font-size: 12px;
    color: #999;
    margin: 2px 0 0 22px;
}

.Mac-Settings footer {
    margin: 8px 0 0 0;
    display: flex;
    justify-content: flex-end;
}

.Mac-Settings button {
    border-radius: 8px;
    background: #fff;
    border: solid 1px #000;
    color: #000;
    padding: 2px 4px;
    min-width: 60px;
    font-size: 14px;
}

/* Platinum is a simple set of color overrides. */
.Mac-Bezel-Platinum {
    --screen-bezel-color: hsl(0deg 0% 85%);
    --screen-bezel-color-dark1: hsl(0deg 0% 80%);
    --screen-bezel-color-dark2: hsl(0deg 0% 75%);
    --screen-bezel-color-light1: hsl(0deg 0% 90%);
    --screen-bezel-color-light2: hsl(0deg 0% 95%);
}

/* Pintripes tries to replicate the style of the 1999 Apple Cinema Display. */
.Mac-Bezel-Pinstripes {
    --screen-bezel-color: hsl(0deg 0% 95%);
    --screen-bezel-color-dark1: hsl(0deg 0% 80%);
    --screen-bezel-color-dark2: hsl(0deg 0% 75%);
    --screen-bezel-color-light1: hsl(0deg 0% 90%);
    --screen-bezel-color-light2: hsl(0deg 0% 95%);

    /* Pinstripe pattern */
    border-image-source: repeating-linear-gradient(
        0deg,
        hsl(0deg 0% 95%) 0px,
        hsl(0deg 0% 95%) 2px,
        hsl(0deg 0% 90%) 2px 4px
    );
    /* Needs to match the value of --screen-bezel-size but without units. */
    border-image-slice: 60;
    border-image-repeat: round;

    /* The other chamfer becomes the extra white outline around the monitor (
        done with the :before pseudo below). */
    --screen-outer-chamfer-size: 12px;
    --screen-outer-corner-radius: 32px;
    --screen-underscan: 8px;
}

.Mac-Bezel-Pinstripes.Mac-Medium-Bezel {
    --screen-outer-chamfer-size: 8px;
    border-image-slice: 40;
}

.Mac-Bezel-Pinstripes.Mac::before {
    border-color: var(--screen-bezel-color);
    /* Add inner dark border */
    box-shadow: inset 0 0 0 2px #282c34;
    /* Cover up pinstripe pattern - border-images do not respect border-radius .*/
    outline: solid 100px #282c34;
}

.Mac-Bezel-Pinstripes .Mac-Controls-Container {
    /* Center Apple logo */
    left: calc(50% - 10px);
}

.Mac-Bezel-Pinstripes .Mac-Apple-Logo .Background {
    filter: none;
}

.Mac-Bezel-Pinstripes .Mac-Apple-Logo .Background path {
    /* Turn shadow into gloss */
    fill: #ffffffaa !important;
}

.Mac-Bezel-Pinstripes .Mac-Led {
    /* The LED is fictional, but we can at least round the corners to make it
    blend in better. */
    border-radius: 4px;
}
