.Mac-CDROMs {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.5));
    pointer-events: none;
}

.Mac-CDROMs-Title {
    padding: 4px 4px 4px 28px;
    cursor: pointer;
    background-image: url(./Images/CD-ROM.png);
    background-position: 4px 50%;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    border-radius: 4px 4px 0 0;
    border: solid 1px black;
    border-bottom-width: 0;
    position: relative;
    top: 1px; /* to cover up the border of the list */
    pointer-events: auto;
}

.Mac-CDROMs-Classic .Mac-CDROMs-Title {
    background-color: white;
}

.Mac-CDROMs-Classic .Mac-CDROMs-Title:active {
    background-color: #eee;
}

.Mac-CDROMs-Platinum .Mac-CDROMs-Title {
    background-color: #dddddd;
}

.Mac-CDROMs-Platinum .Mac-CDROMs-Title:active {
    background-color: #dadada;
}

.Mac-CDROMs-Contents {
    background: white;
    border: solid 1px black;
    border-bottom-width: 0;
    border-radius: 4px 4px 0 0;
    height: 50vh;
    width: 80vw;
    pointer-events: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.Mac-CDROMs-List {
    overflow: auto;
}

.Mac-CDROMs-Header {
    padding: 8px;
    display: flex;
    gap: 8px;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    font-size: 12px;
}

.Mac-CDROMs-Instructions {
    flex-grow: 1;
}

.Mac-CDROMs-Header input[type="search"]:placeholder-shown {
    width: 60px;
}

.Mac-CDROMs-Classic .Mac-CDROMs-Header {
    border-bottom: solid 1px #9e9e9e;
}

.Mac-CDROMs-Platinum .Mac-CDROMs-Header {
    background: #dddddd;
    border-bottom: solid 1px #a5a5a5;
}

.Mac-CDROMs-Contents .link {
    cursor: pointer;
    text-decoration: underline;
    color: #00c;
}

.Mac-CDROMs-Category {
    margin: 8px 0;
}

.Mac-CDROMs-Category h3 {
    margin: 8px 0;
    background: linear-gradient(to right, #ddd, #fff);
    padding: 1px 8px;
}

.Mac-CDROMs-Category-Contents {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.Mac-Custom-CDROM-URL {
    width: 100%;
    box-sizing: border-box;
}

.Mac-CDROM {
    cursor: pointer;
    max-width: 128px;
    padding: 8px;
    font-size: 11px;
    text-align: center;
}

.Mac-CDROM:active {
    background-color: #eee;
    border-radius: 4px;
    overflow: hidden;
}

.Mac-CDROM-Cover {
    height: 96px;
    width: auto;
    overflow: auto;
}

.Mac-CDROM-Cover.Default {
    image-rendering: pixelated;
}

.Mac-CDROM-Cover-Round {
    border-radius: 50%;
    overflow: hidden;
}

@media (max-width: 440px) {
    .Mac-CDROMs {
        align-items: start;
        margin-left: 10px;
        margin-right: 10px;
    }

    .Mac-CDROMs-Title {
        margin-left: 20px;
    }

    .Mac-CDROMs-Contents {
        width: 100%;
    }
}
