.Mac-Library-Table {
    table-layout: fixed;
    border-spacing: 0;
    font-size: 12px;
    width: 100%;
}

.Mac-Library-Table thead {
    position: sticky;
    top: 0;
}

.Mac-Library-Table th,
.Mac-Library-Table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 2px 4px;
}

.Mac-Library-Table th:first-child,
.Mac-Library-Table td:first-child {
    padding-left: 8px;
}

.Mac-Library-Table th:last-child,
.Mac-Library-Table td:last-child {
    padding-right: 8px;
}

.Mac-Library-Table th {
    text-align: left;
}

.Mac-Library-Table th.narrow {
    width: 64px;
}

.Mac-Library-Table-Classic thead {
    background: #fff;
}

.Mac-Library-Table-Classic tbody tr:hover {
    background: #fafafa;
    cursor: default;
}

.Mac-Library-Table-Classic th {
    border-bottom: double 3px #000;
}

.Mac-Library-Table-Footer {
    text-align: center;
    opacity: 0.5;
}

.Mac-Library-Table-Classic .Mac-Library-Table-Footer {
    border-top: solid 1px #000;
}

.Mac-Library-Item-Details {
    padding: 8px;
    overflow: auto;
}

.Mac-Library-Item-Details-Columns {
    display: flex;
    align-items: start;
    gap: 8px;
}

.Mac-Library-Item-Details-Title {
    flex: 1;
    font-size: 18px;
}

.Mac-Library-Item-Details-Description div {
    margin: 0;
}

.Mac-Library-Item-Details-Table th {
    text-align: right;
    vertical-align: top;
}

.Mac-Library-Item-Details-Table td {
    vertical-align: top;
}

.Mac-Library-Item-Details-Downloads {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
