.ScreenFrame {
    --screen-bezel-color: hsl(39deg 36% 80%);
    --screen-bezel-color-dark1: hsl(39deg 36% 75%);
    --screen-bezel-color-dark2: hsl(39deg 36% 70%);
    --screen-bezel-color-light1: hsl(39deg 36% 85%);
    --screen-bezel-color-light2: hsl(39deg 36% 90%);
    --screen-bezel-size: 60px;
    --screen-outer-chamfer-size: 4px;
    --screen-inner-chamfer-size: 8px;
    --screen-outer-corner-radius: 8px;
    --screen-inner-corner-radius: 8px;
    --screen-underscan: 20px;
    --screen-controls-display: flex;
    --screen-controls-bottom: -46px;
    --screen-led-display: block;
    --screen-led-bottom: -40px;
    --screen-ethernet-status-bottom: -46px;
    --screen-ethernet-status-display: block;

    border: solid var(--screen-bezel-size) var(--screen-bezel-color);
    position: relative;
    background: black;

    margin: calc(var(--screen-underscan) * -1);
}

.ScreenFrame-Bezel-Medium {
    --screen-bezel-size: 40px;
    --screen-outer-chamfer-size: 2px;
    --screen-inner-chamfer-size: 4px;
    --screen-underscan: 10px;
    --screen-controls-bottom: -34px;
    --screen-led-bottom: -28px;
    --screen-ethernet-status-bottom: -34px;
}

.ScreenFrame-Bezel-Small-ish {
    --screen-bezel-size: 30px;
    --screen-outer-chamfer-size: 2px;
    --screen-inner-chamfer-size: 4px;
    --screen-underscan: 6px;
    --screen-controls-bottom: -34px;
    --screen-led-bottom: -28px;
    --screen-ethernet-status-bottom: -34px;
}

.ScreenFrame-Bezel-Small {
    --screen-bezel-size: 10px;
    --screen-outer-chamfer-size: 1px;
    --screen-inner-chamfer-size: 1px;
    --screen-outer-corner-radius: 4px;
    --screen-inner-corner-radius: 4px;
    --screen-underscan: 1px;
    --screen-controls-bottom: -32px;
    --screen-led-display: none;
    --screen-ethernet-status-display: none;
}

.ScreenFrame.ScreenFrame-Fullscreen {
    --screen-bezel-size: 0;
    --screen-outer-chamfer-size: 0;
    --screen-inner-chamfer-size: 0;
    --screen-underscan: 0;
    --screen-controls-display: none;
    --screen-led-display: none;
    --screen-ethernet-status-display: none;
}

.ScreenFrame::before {
    content: "";
    position: absolute;
    top: calc(
        (var(--screen-bezel-size) + var(--screen-outer-chamfer-size)) * -1
    );
    left: calc(
        (var(--screen-bezel-size) + var(--screen-outer-chamfer-size)) * -1
    );
    right: calc(
        (var(--screen-bezel-size) + var(--screen-outer-chamfer-size)) * -1
    );
    bottom: calc(
        (var(--screen-bezel-size) + var(--screen-outer-chamfer-size)) * -1
    );
    border: solid var(--screen-outer-chamfer-size);
    border-color: var(--screen-bezel-color-light2)
        var(--screen-bezel-color-dark2) var(--screen-bezel-color-dark1)
        var(--screen-bezel-color-light1);
    border-radius: var(--screen-outer-corner-radius);
    pointer-events: none;
}

.ScreenFrame::after {
    content: "";
    position: absolute;
    top: calc(var(--screen-inner-chamfer-size) * -1);
    left: calc(var(--screen-inner-chamfer-size) * -1);
    right: calc(var(--screen-inner-chamfer-size) * -1);
    bottom: calc(var(--screen-inner-chamfer-size) * -1);
    border: solid var(--screen-inner-chamfer-size);
    border-color: var(--screen-bezel-color-dark2)
        var(--screen-bezel-color-light2) var(--screen-bezel-color-light1)
        var(--screen-bezel-color-dark1);
    border-radius: var(--screen-inner-corner-radius);
    pointer-events: none;
}

.ScreenFrame-Controls-Container {
    position: absolute;
    bottom: var(--screen-controls-bottom);
    display: var(--screen-controls-display);
    left: 0;
    align-items: center;
}

.ScreenFrame-Controls-Container .ScreenFrame-Control {
    margin-left: 16px;
    cursor: pointer;
}

@media (hover: hover) {
    .ScreenFrame-Controls-Container .ScreenFrame-Control {
        visibility: hidden;
    }

    .ScreenFrame-Controls-Container:hover .ScreenFrame-Control {
        visibility: visible;
    }
}

.ScreenFrame-Logo {
    position: relative;
    height: 30px;
    width: 18px;
}

.ScreenFrame-Bezel-NeXT .ScreenFrame-Logo {
    width: 24px;
}

.ScreenFrame-Bezel-Medium .ScreenFrame-Logo {
    height: 28px;
    width: 14px;
}

.ScreenFrame-Bezel-NeXT.ScreenFrame-Bezel-Medium .ScreenFrame-Logo {
    width: 18px;
}

.ScreenFrame-Bezel-Small-ish .ScreenFrame-Logo {
    height: 36px;
    width: 12px;
}

.ScreenFrame-Bezel-NeXT.ScreenFrame-Bezel-Small-ish .ScreenFrame-Logo {
    width: 15px;
}

/* Hide the Apple logo if it's not top of the bezel */
.ScreenFrame-Bezel-Small .ScreenFrame-Logo {
    display: none;
}

/* And if the Apple logo is not there, the controls don't need space on the left */
.ScreenFrame-Bezel-Small .ScreenFrame-Control {
    margin-left: 0;
    margin-right: 16px;
    font-size: 0.8em;
}

.ScreenFrame-Logo svg {
    height: 100%;
    width: 100%;
    position: absolute;
}

.ScreenFrame-Logo .Foreground {
    filter: brightness(1.1);
}

.ScreenFrame-Logo .Background {
    top: -0.5px;
    left: -0.5px;
    filter: brightness(0.5);
}

.ScreenFrame-Led {
    pointer-events: none;
    position: absolute;
    display: var(--screen-led-display);
    bottom: var(--screen-led-bottom);
    right: 0;
    width: 28px;
    height: 8px;
    background: #00ff00;
}

.ScreenFrame-Led-Loading {
    animation: Mac-Led-Blink 0.1s infinite;
}

@keyframes Mac-Led-Blink {
    from {
        background: #00ff00;
    }
    to {
        background: #000000;
    }
}

.ScreenFrame-Bezel-Text {
    color: var(--screen-bezel-color-dark1);
    text-shadow: 0.5px 0.5px rgba(255, 255, 255, 0.6),
        -0.5px -0.5px rgba(0, 0, 0, 0.6);
}

/* Platinum is a simple set of color overrides. */
.ScreenFrame-Bezel-Platinum {
    --screen-bezel-color: hsl(0deg 0% 85%);
    --screen-bezel-color-dark1: hsl(0deg 0% 80%);
    --screen-bezel-color-dark2: hsl(0deg 0% 75%);
    --screen-bezel-color-light1: hsl(0deg 0% 90%);
    --screen-bezel-color-light2: hsl(0deg 0% 95%);
}

/* NeXT is a simple set of color overrides. */
.ScreenFrame-Bezel-NeXT {
    --screen-bezel-color: hsl(220deg 3% 15%);
    --screen-bezel-color-dark1: hsl(220deg 3% 5%);
    --screen-bezel-color-dark2: hsl(220deg 3% 10%);
    --screen-bezel-color-light1: hsl(220deg 3% 20%);
    --screen-bezel-color-light2: hsl(220deg 3% 25%);
}

/* Pinstripes tries to replicate the style of the 1999 Apple Cinema Display. */
.ScreenFrame-Bezel-Pinstripes {
    --screen-bezel-color: hsl(0deg 0% 95%);
    --screen-bezel-color-dark1: hsl(0deg 0% 80%);
    --screen-bezel-color-dark2: hsl(0deg 0% 75%);
    --screen-bezel-color-light1: hsl(0deg 0% 90%);
    --screen-bezel-color-light2: hsl(0deg 0% 95%);

    /* Pinstripe pattern */
    border-image-source: repeating-linear-gradient(
        0deg,
        hsl(0deg 0% 95%) 0px,
        hsl(0deg 0% 95%) 2px,
        hsl(0deg 0% 90%) 2px 4px
    );
    /* Needs to match the value of --screen-bezel-size but without units. */
    border-image-slice: 60;
    border-image-repeat: round;

    /* The other chamfer becomes the extra white outline around the monitor (
        done with the :before pseudo below). */
    --screen-outer-chamfer-size: 12px;
    --screen-outer-corner-radius: 32px;
    --screen-underscan: 8px;
}

.ScreenFrame-Bezel-Pinstripes.ScreenFrame-Bezel-Medium {
    --screen-outer-chamfer-size: 8px;
    border-image-slice: 40;
    --screen-outer-corner-radius: 28px;
}

.ScreenFrame-Bezel-Pinstripes.ScreenFrame-Bezel-Small-ish {
    --screen-outer-chamfer-size: 8px;
    border-image-slice: 30;
    --screen-outer-corner-radius: 24px;
}

.ScreenFrame-Bezel-Pinstripes.ScreenFrame::before {
    border-color: var(--screen-bezel-color);
    /* Add inner dark border */
    box-shadow: inset 0 0 0 2px #282c34;
}

/* Center Apple logo by making the entire container full-width */
.ScreenFrame-CenterLogo .ScreenFrame-Controls-Container {
    width: 100%;
}

.ScreenFrame-CenterLogo
    .ScreenFrame-Controls-Container
    .ScreenFrame-Logo
    + .ScreenFrame-Control {
    margin-left: 0;
}

.ScreenFrame-CenterLogo .ScreenFrame-Logo {
    left: calc(50% - 10px);
}

.ScreenFrame-Bezel-Pinstripes .ScreenFrame-Logo .Background {
    filter: none;
}

.ScreenFrame-Bezel-Pinstripes .ScreenFrame-Logo .Background path {
    /* Turn shadow into gloss */
    fill: #ffffffaa !important;
}

.ScreenFrame-Bezel-Pinstripes .ScreenFrame-Led {
    /* The LED is fictional, but we can at least round the corners to make it
    blend in better. */
    border-radius: 4px;
}

.ScreenFrame-ScreenContainer {
    position: relative;
    top: var(--screen-underscan);
    left: var(--screen-underscan);
    background-color: black;
}
